{
  "presets": ["@babel/env"],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "minify"
      ],
      "plugins": ["@babel/plugin-transform-runtime"],
      "comments": false
    }
  }
}
